.turbo
**/node_modules
*.wasm
**/dist
yarn-error.log
.env*
!*.sample
.lmdb
.redis
packages/nostrwatch-db
packages/nostrwatch-history-relay/strfry-db/data.mdb
packages/relaydb-cli
dist/js/chunk-vendors.cd206719.js.map
node_modules
ours.sh
.pg
packages/synx
packages/kinds
.npmrc
.ansible
.envs 
.configs
.docker
.sveltekit
