@import "./components/tooltip.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-dark-mode {
  width:32px;
  height:32px;
}

#subsection_header {
  background-color: rgba(255,255,255, .5)
}

:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

//TODO: When building out the stylesheet, convert these to WS dark: conditional.

html {
  main {
    .data-card {
      * {
        @apply border-white/10
      }

      dl > div {
        @apply border-none
      }
      &:first-child { 
        @apply bg-none
      }

      @apply bg-white/10 border-none
    }
    .data-card {
      @apply bg-none
    }
  }
}


html.dark {
  background: #16171d;
  color: #fff;

  #subsection_header {
    background-color: rgba(22, 23, 29, .5)
  }

  // #relays_list_wrapper {
  //   @apply bg-black/20 rounded-lg
  // }

  div[role=menu] {
    background: #16171d;
    color: #fff;
    a:hover {
      @apply bg-white/10
    }
  }

  #subsection_nav {
    @apply bg-transparent
  }

  #map_control button {
    background: #16171d;
    color: #fff;
  }

  table tbody {
    border-top:1px solid #333 !important;
  }

  table tbody tr:hover {
    @apply bg-slate-50/10
  }

  * {
    color: #f0f0f0
  }

  tr, tbody {
    @apply bg-transparent
  }

  main {
    .data-card {
      * {
        @apply border-slate-100/10
      }

      dl > div {
        @apply border-none
      }
      &:first-child { 
        @apply bg-none
      }

      @apply bg-slate-50/10 border-none
    }
    .data-card {
      @apply bg-none
    }
  }

  .leaflet-tile {
    filter:var(--map-tiles-filter, none);
  }

  .leaflet-control-attribution {
    background:#000
  }
}

td ul { padding:0; margin:0; list-style: none; }
td ul li { list-style: none; }

.q-tabs {
  border-bottom: 1px solid var(--q-accent)
}

table {
  width:100%;
}

.left-align {
  text-align:left;
}

tr.relay td {
  font-style: italic;
  opacity: 0.5;
}

tr.relay.loaded td {
  font-style: normal;
  opacity: 1;
}

.indicator {
  display:block;
  margin: 0 auto;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  border-width:0px;
}

.badge {
  height:auto;
  width: auto;
  display:inline-block;
  padding: 2px 5px;
  font-size: 15px;
  position: relative;
  top: -3px;
  min-width: 15px;
  margin-right:5px;
}

.public .badge,
.offline .badge {
  color: white;
}

.public.online .badge {
  background:green
}

.restricted.online .badge {
  background:orange
}

.offline .badge {
  background:red
}

tr.online .indicator.failure {
  background-color:orange !important;
}
// .aggregate.indicator {
//     background-color: transparent;
//     border-radius: 0px;
//     border-style: solid;
// }

// .indicator.pending {
//   background-color: #c0c0c0;
//   border-color: rgba(55,55,55,0.5);
// }

// .indicator.success {
//   background-color: green;
//   border-color: rgba(0,255,0,0.5);
// }

// .indicator.failure {
//   background-color: red;
// border-color: rgba(255,0,0,0.5);
// }

// .indicator.caution {
//   background-color: orange;
//   border-color: rgba(255, 191, 0,0.5);
// }

// .indicator.public {
//   background-color: green;
//   border-color: rgba(0,255,0,0.5);
// }

// .indicator.restricted {
//   position:relative;
//   border-color: transparent;
//   background-color: transparent
// }

// .indicator.restricted span:first-child {
//   position:absolute;
//   width: 0;
//   height: 0;
//   border-top: 14px solid green;
//   border-right: 14px solid transparent;
// }

// .indicator.restricted span:last-child {
//   position:absolute;
//   width: 0;
//   height: 0;
//   border-bottom: 14px solid orange;
//   border-left: 14px solid transparent;
// }

//
// .indicator.restricted {
//   position:relative;
//   border-color: transparent;
//   background-color: transparent
// }
//
// .indicator.restricted span:first-child {
//   position:absolute;
//   width: 0;
//   height: 0;
//   border-bottom: 14px solid orange;
//   border-left: 14px solid transparent;
// }
//
// .indicator.restricted span:last-child {
//   position:absolute;
//   width: 0;
//   height: 0;
//   border-top: 14px solid green;
//   border-right: 14px solid transparent;
// }

// .indicator.offline {
//   background-color: red;
//   border-color: rgba(255,0,0,0.5);
// }

tr.online .relay-url {
  cursor: pointer;
}

.verified-shape-wrapper {
  display:inline-block;
  width: 16px;
  height: 16px;
}

.shape.verified {
  background: #777;
  width: 16px;
  height: 16px;
  position: relative;
  top: 5px;
  left:-5px;
  text-align: center;
}

th .shape.verified:before,
th .shape.verified:after {
  background:#c0c0c0 !important;
}
.shape.verified:before,
.shape.verified:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background: #777;
}
.shape.verified:before {
  transform: rotate(30deg);
}
.shape.verified:after {
  transform: rotate(75deg);
}

.credit {
  display:inline-block;

  color:#333;
  text-transform: lowercase;
  font-size:12px;
  margin-top:25px;
}

.credit a {
  text-decoration:none;
}

// #wrapper {
//   max-width:1400px;
//   margin:0 auto;
// }

// #wrapper section > {
//   & > div {
//     @apply block my-8
//   }
// }

h1 {
  position:relative;
  display:inline-block;
  margin: 0 auto
}

h1 sup {
  color: #c0c0c0;
  font-size:15px;
  position:absolute;
  right: -45px;
  top:15px;
}

.title-card {
  text-align:center;
}

.title-card h1 {
  font-size:4.5em;
  text-align:center;
}

.row {
  -webkit-box-shadow: 0px 1px 32px 4px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 1px 32px 4px rgba(0,0,0,0.16);
  box-shadow: 0px 1px 32px 4px rgba(0,0,0,0.16);
}

.title-info-card {
  border-radius: 20px;
  text-align:center;
}

.title-info-card span {
  display:inline-block;
  margin-top:0.80em;
  font-size: 4em;
  letter-spacing: -0.1em;
  text-align:right;
}

.processing-card {
  margin: 0.8em 0;
  display:block;
  margin:1.5em 0;
  font-size: 4em;
  letter-spacing: -0.1em;
  text-align:center;
}


.loading {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
  background-size: 1000px 640px;
  position: relative
}

.loaded .loading {
  animation: none;
  bakground:none;
  display:none;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

li.observation {
  display: inline;
  cursor: pointer;
}

tr.offline .verified, tr.offline .verified *,
tr.offline .latency,
tr.offline .nip,
tr.offline .location {
  visibility: hidden;
}


// @media only screen and (min-device-width: 640px)
//                    and (max-device-width: 480px)
//                    and (orientation: portrait) {

//  table .latency,
//  table .verified,
//  table .nip {
//    display: none;
//  }

// }

// @media only screen and (min-device-width: 640px)
//                    and (max-device-width: 480px)
//                    and (orientation: landscape) {

//  table .nip {
//    display: none;
//  }

// }

/*TODO: Apply fix? https://github.com/tailwindlabs/tailwindcss/issues/10418*/
.mt-4  { margin-top: 1rem }
.mt-5  { margin-top: 1.25rem }
.mt-6  { margin-top: 1.5rem }
.mt-7  { margin-top: 1.75rem }
.mt-9  { margin-top: 2.25rem }
.mt-11 { margin-top: 2.75rem }
.mt-13 { margin-top: 3.25rem }
.mt-14 { margin-top: 3.5rem }
.mt-15 { margin-top: 3.75rem }
.mt-16 { margin-top: 4rem }
.mt-17 { margin-top: 4.25rem }
.mt-18 { margin-top: 4.5rem }
.mt-19 { margin-top: 4.75rem }
.mt-20 { margin-top: 5rem }
.mt-21 { margin-top: 5.25rem }
.mt-22 { margin-top: 5.5rem }
.mt-23 { margin-top: 5.75rem }
.mt-25 { margin-top: 6.25rem }
.mt-26 { margin-top: 6.5rem }
.mt-27 { margin-top: 6.75rem }
.mt-28 { margin-top: 7rem }
.mt-29 { margin-top: 7.25rem }
.mt-30 { margin-top: 7.5rem }
.mt-31 { margin-top: 7.75rem }

.h-4  { height: 1rem }
.h-5  { height: 1.25rem }
.h-6  { height: 1.5rem }
.h-7  { height: 1.75rem }
.h-9  { height: 2.25rem }
.h-11 { height: 2.75rem }
.h-13 { height: 3.25rem }
.h-14 { height: 3.5rem }
.h-15 { height: 3.75rem }
.h-16 { height: 4rem }
.h-17 { height: 4.25rem }
.h-18 { height: 4.5rem }
.h-19 { height: 4.75rem }
.h-20 { height: 5rem }
.h-21 { height: 5.25rem }
.h-22 { height: 5.5rem }
.h-23 { height: 5.75rem }
.h-25 { height: 6.25rem }
.h-26 { height: 6.5rem }
.h-27 { height: 6.75rem }
.h-28 { height: 7rem }
.h-29 { height: 7.25rem }
.h-30 { height: 7.5rem }
.h-31 { height: 7.75rem }