config.yaml
!*.sample.*
*.env*
node_modules
*.db
*.db-journal
**/*.db

logs
blocklists/*
!blocklists/.gitkeep

data/*
!data/.gitkeep

# this is ignored in root by default
!.docker

# ignore custom docker compose files, leave the defaults
.docker/*.yml
.docker/*.yaml
!.docker/docker-compose.yml
!.docker/docker-compose.multinet.yml
!.docker/docker-compose.build.yml
!.docker/docker-compose.build-multinet.yml
!.docker/docker-compose.clearnet-suite.yml
!.docker/docker-compose.multinet-suite.yml
!.docker/docker-compose.build-clearnet-suite.yml
!.docker/docker-compose.build-multinet-suite.yml
!.docker/Dockerfile.clearnet
!.docker/Dockerfile.multinet
