# Description: Sample .env file for trawler

#PUBLISHER
DEAMON_PUBKEY=""
DEAMON_PRIVKEY=""

#QUEUE
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=""
REDIS_LOGLEVEL="warning"

# Path overrides (mainly for Docker)
# TRAWLER_CONFIG_PATH=./config.yaml
# TRAWLER_DB_PATH=./trawler.db
# TRAWLER_DB_WAL=true