node_modules 
vendor
*.config.yaml
docker-compose.yaml
lmdb
lmdb.bak
cache
.env*
!.env.sample
config*.yaml
config*.yml
*.db
*.db-shm
*.db-wal
*.db-lock
*.db-journal

# this is ignored in root by default
!.docker
!.docker/Dockerfile.clearnet